<!DOCTYPE html>
<head>
	<title>PeriodicoInteractivo</title>
	<meta name="author" content="ProyectCC">
	<meta charset="UTF-8" />
	<link href="../static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

	<header>
		<div id="titulo"><img id="img_principal" src="../static/makoLogo.png" /></div>
		<form action='login' method='post'>
			 ${formulario} 
			<!--<a href='/logout'>Logout</a>-->
		</form>

	</header>


	<div id="pagina">

		<div id="menu">
		  <ul>
		    <li><a href="login" title="Pagina principal">Pagina principal</a></li>
		    <li><a href="rss" title="rss"><strong>RSS</strong></a></li>
		    <li><a href="highchart" title="highchart">Highchart</a></li>
		    <li><a href="mapa" title="mapa">Google Maps</a></li>
		  	<li><a href="twitter" title="Twitter">Twitter</a></li>
		  </ul>
		</div>

		<div id="contenido">

			<h2><center>RSS</center></h2>

			<% long = len(feed['entries']) %> 
			<p> Hay un total de ${long} entradas del RSS de <a href="http://elpais.com/" title="El Pais">El Pais</a></p> 

			% for i in range(len(feed.entries)):
			    <a href='${feed.entries[i].link}'>${feed.entries[i].title}</a>
			    <br />
			% endfor 


		</div>

		<div id="footer">
			<p><a href="https://github.com/ProyectCC"> Grupo <b>ProyectCC</b> </a> </p>
		</div>

		
	</div>


</body>



</html>


</html>
